<!--<h1 id="tableLabel"> </h1>-->

<p *ngIf="!products">
  <em>Loading...</em>
</p>

<table *ngIf="products" style="margin-bottom:8px;">

  <tr>
    <td><input type="text" [(ngModel)]="textToSearch" (keyup.enter)="onSearchClick()" placeholder="Type for search"></td>
    <td><button class="btn btn-secondary  btn-sm" (click)="onSearchClick()">Search</button></td>
    <td><button class="btn btn-secondary  btn-sm" (click)="ClearSearch()">Clear</button></td>
  </tr>
</table>


<table class='table table-hover' aria-labelledby="tableLabel" *ngIf="products">
  <thead>
    <tr>
      <th width="10%"  class="thHeader" >
        <button class="btnHeader" mat-button (click)="Sort('sku')">
          sku <i id="sort_sku" class="bi bi-arrow-up"></i>
        </button>
      </th>
      <th width="10%" class="thHeader"><button mat-button disabled class="btnHeader">price</button></th>
      <th width="10%" class="thHeader"><button mat-button disabled class="btnHeader">image</button></th>
      <th width="70%" class="thHeader">
        <button class="btnHeader" mat-button (click)="Sort('name')">
          name<i id="sort_name"></i>
        </button>
        
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products  | paginate: { itemsPerPage: pageSize, currentPage: pageNumber, totalItems:count }">
      <td>
        <button  class="buttonLink"  (click)="openDialog(product.sku)"> {{ product.sku }}</button>
      </td>
      <td>{{ product.price }}</td>
      <td>
        <img class="imgProductGrid" src="{{product.image}}" />
      </td>
      <td>
        {{ product.name }}
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        <div style="float: right; margin-top: 10px;">
          Items per page
          <select [ngModel]="pageSize" (ngModelChange)="onPageSizeChange($event)" name="sel2">
            <option [value]="5">5</option>
            <option [value]="10">10</option>
            <option [value]="15">15</option>
            <option [value]="50">50</option>
          </select>
        </div>
        <div class="paginationCenter">
          <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
        </div>
      </td>
    </tr>
  </tfoot>
</table>







<!--<table  class='table'>
  <thead>
    <tr>
      <td>count  ({{count}})</td>
      <td>pageIndex</td>
      <td>pageSize</td>
      <td>totalPages</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{pageResult.count}}</td>
      <td>{{pageResult.pageIndex}}</td>
      <td>{{pageResult.pageSize}}</td>
      <td>{{pageResult.totalPage}}</td>
    </tr>
  </tbody>
</table>-->
