<h1 id="tableLabel"> </h1>


<p *ngIf="!products">
  <em>Loading...</em>
</p>

<!--{{products}}-->

<table *ngIf="products" style="margin-bottom:8px;">

  <tr>
    <td> <input type="text" [(ngModel)]="textToSearch" (keyup.enter)="onEnter()" placeholder="Type for search"></td>
    <td>  <button class="btn btn-secondary  btn-sm" (click)="ButtonSearch()">Search</button></td>
    <td>  <button class="btn btn-secondary  btn-sm" (click)="ClearSearch()">Clear</button></td>
  </tr>
</table>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products">
  <thead>
    <tr>
      <th>sku</th>
      <th>price</th>
      <th>image</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products  | paginate: { itemsPerPage: 5, currentPage: pageNumber, totalItems:Count }">
      <td>
        <button mat-button (click)="openDialog(product.sku)"> {{ product.sku }}</button>

      </td>
      <td>{{ product.price }}</td>
      <td>
        <img class="imgProductGrid" src="{{product.image}}" />
      </td>
      <td>{{ product.name }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        <div class="paginationCenter">
          <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
        </div>
      </td>
    </tr>
  </tfoot>
</table>



<!--<table  class='table table-striped'>
  <thead>
    <tr>
      <td>count  ({{Count}})</td>
      <td>pageIndex</td>
      <td>pageSize</td>
      <td>totalPages</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{pageResult.count}}</td>
      <td>{{pageResult.pageIndex}}</td>
      <td>{{pageResult.pageSize}}</td>
      <td>{{pageResult.totalPage}}</td>
    </tr>
  </tbody>
</table>-->


<!--<table mat-table [dataSource]="products" class="mat-elevation-z8"
           matSort matSortActive="sku" matSortDisableClear matSortDirection="desc">


  <ng-container matColumnDef="sku">
    <th mat-header-cell *matHeaderCellDef> sku </th>
    <td mat-cell *matCellDef="let element"> {{element.sku}} </td>
  </ng-container>-->

  <!-- Name Column -->
  <!--<ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> price </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef> image </th>
    <td mat-cell *matCellDef="let element"> <img class="imgProductGrid" src="{{element.image}}" alt="" />  </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<mat-paginator [length]="20" [pageSize]="5" aria-label="Select page of GitHub search results"></mat-paginator>-->

<!--<mat-paginator [length]="resultsLength" [pageSize]="30" aria-label="Select page of GitHub search results"></mat-paginator>-->
