<h1 id="tableLabel">Products</h1>


<p *ngIf="!products"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products">
  <thead>
    <tr>
      <th>sku</th>
      <th>name</th>
      <th>price</th>
      <th>image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.sku }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>
        {{ product.image }}
        <img src="{{product.image}}" alt="{{product.name }}" />
      </td>
    </tr>
  </tbody>
</table>
